<!DOCTYPE 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
    <body>
        <h1>Home Page <%= 1+1 %></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum, voluptas impedit voluptates cumque quisquam non, quasi distinctio placeat velit beatae suscipit quidem facilis? Neque dolor odit omnis eos reiciendis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum, voluptas impedit voluptates cumque quisquam non, quasi distinctio placeat velit beatae suscipit quidem facilis? Neque dolor odit omnis eos reiciendis!</p>
        <script src="" async defer></script>
    </body>
</html> 